<div id="threadspane" class="ui-layout-west">
    <button id="btnNewThread">New Thread</button>
    <h2>Threads List:</h2>
    <ul id="folder_list">
        <li><a class="folder_name">Static Test Folder</a>
            <ul class="thread_list" id="temp_thread_list">
            </ul>
        </li>
    </ul>
</div>

<div id="postspane" class="ui-layout-center">
    <h2 id="thread_title" class="thread_title"></h2>
    <div id="posts_wrapper"></div>
    <div id="replybox">
        <div id="replybox_thread_title">
            <h3>Thread Title:</h3>
            <input type="text" />
        </div>
        <div id="replybox_options">
            To: <select id="selReplyTo"></select>
        </div>
        <textarea id="reply_text"></textarea><br />
        <button id="btnPostReply">Post</button>
        <button id="btnCancelReply">Cancel</button>
        Post length: <span id="post_length">0</span> characters.
    </div>
</div>

<!-- Post template - used by showPosts as a source for cloning. This particular
one here gets removed on app init() -->
<li id="post_template" class="hidden post">
    <div class="post_head">
        Post ID: <span class="post_id"></span>
        <div class="post_head_fromto">
            From: <a class="post_head_from"></a><br />
            To: <a class="post_head_to"></a>
        </div>
        <div class="post_head_info">
            Posted: <span class="post_head_date"></span><br />
            <span class="post_head_index"></span> of
                <span class="post_head_count"></span>
        </div>
    </div> <!-- .post_head -->
    <div class="post_body">
    </div> <!-- .post_body -->
    <div class="post_sig">
    </div> <!-- .post_sig -->
    <div class="post_foot">
        <div class="post_foot_replylinks">
            <a href="#" class="post_foot_reply">Reply</a> |
            <a href="#" class="post_foot_quote">Reply + Quote</a>
        </div>
        <div class="post_foot_editlinks">
            <a href="#" class="post_foot_edit">Edit</a> |
            <a href="#" class="post_foot_delete">Delete</a>
        </div>
    </div> <!-- .post_foot -->
</li>
  <%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "scrollto-min.js" %>
  <%= javascript_include_tag "jquery-ui-min.js" %>
  <!--<%= javascript_include_tag "jquery-ui-selectmenu.js" %>-->
  <!--<%= javascript_include_tag "jquery.layout.min.js" %>-->
  <%= javascript_include_tag "underscore-min.js" %>
  <%= javascript_include_tag "showdown.js" %>
