<div id="threadspane" class="clr2 br">
    <div id="folders_loading_msg" class="loading_msg bb">Loading threads...</div>
    <% if user_signed_in? %>
        <% if user_signed_in? and current_user.admin? %>
            <button id="btnNewFolder">New Folder</button>
        <% end %>
        <button id="btnNewThread">New Thread</button>
    <% end %>
        <button id="btnReloadThreadsList">Refresh</button>
        <br />
    <% if user_signed_in? %>
        <label for="selThreadsView">Threads:</label> <select id="selThreadsView">
            <option value="UNREAD">unread</option>
            <option value="ME_UNREAD">unread, replies to me</option>
            <option value="INTERESTING_UNREAD">interesting and unread</option>
            <option value="INTERESTING_ALL">interesting</option>
            <option value="ALL">all</option>
        </select>
    <% end %>
    <ul id="folder_list">
    </ul>
</div>

<div id="postspane">
    <div id="thread_loading_msg" class="loading_msg bb">Loading posts...</div>
    <h2 id="thread_title" class="thread_title"></h2>
    <ul id="posts_container"></ul>

   <% if user_signed_in? %>
    <div id="replybox">
        <div id="replybox_thread_title">
            <h2>Thread Title:</h2>
            <input type="text" /><br />
            <label for="thread_folder">Folder:</label>
            <select id="selThreadFolder">
                <option value="0">(uncategorised)</option>
            </select>
        </div>
        <div id="replybox_options">
            <label for="selReplyTo">To:</label>
            <select id="selReplyTo">
                <option value="0">(all)</option>
            </select>

        </div>
        <textarea id="reply_text"></textarea><br />
        <button id="btnPostReply">Post</button>
        <button id="btnCancelReply">Cancel</button>
        Post length: <span id="post_length">0</span> characters (maximum
        <span id="max_post_length">300</span>).
    </div>
    <% end %>
    <% if user_signed_in? and current_user.admin? %>
        <%= render :partial => "layouts/useredit_partial" %>
    <% end %>
</div>


<!-- Post template - used by showPosts as a source for cloning. This particular
one here gets removed on app init() -->
  <%= render :partial => "layouts/post_partial" %>

  <%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "scrollto-min.js" %>
  <%= javascript_include_tag "jquery-ui-min.js" %>
  <%= javascript_include_tag "jquery-ui-selectmenu.js" %>
  <%= javascript_include_tag "underscore-min.js" %>
  <%= javascript_include_tag "showdown.js" %>
