<div id="static_wrapper">
<h1>Sign in</h1>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <p><%= f.label "E-mail" %>:<br />
    <%= f.text_field :email, :class => "signtextbox" %></p>

    <p><%= f.label :password %>:<br />
    <%= f.password_field :password, :class => "signtextbox" %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.label :remember_me %> <%= f.check_box :remember_me %> </p>
  <% end -%>

  <p><%= f.submit "Sign in" %></p>
<% end %>

<!--<%= render :partial => "devise/shared/links" %>-->
</div>
