<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold,bolditalic" %>
  <%= stylesheet_link_tag "reset.css", :cache => true %>
  <%= stylesheet_link_tag "jquery-ui.css", :cache => true %>
  <%= stylesheet_link_tag "jquery-ui-selectmenu.css", :cache => true %>
  <%= stylesheet_link_tag "layout.css", :cache => true %>
  <%= stylesheet_link_tag "colours.css", :cache => true %>
  <%= stylesheet_link_tag "emotes.css", :cache => true %>
  <%= csrf_meta_tag %>
  <style>
      .unfouc {
          /* Prevent certain elements from being visible before JavaScript loads */
          position: absolute;
          top: -10000px;
          left: -10000px;
      }
  </style>
</head>
<body class="clr0">
    <div id="header" class="clr1">
        <a id="logo" class="clr3 bb" href="/">FORJ Forum /</a>

        <div id="sign" class="clr3 bb">
  <% if user_signed_in? %>
      Signed in as <span class="current_user"><%= current_user.email %></span>
      (<%= current_user.name %>) |
      <%= link_to "Edit Details", edit_user_registration_path %> |
      <%= link_to "Sign out", destroy_user_session_path %>
      <input type="hidden" value="<%= current_user.rank.to_s + current_user.id.to_s %>" />
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> |
    <%= link_to "Sign in", new_user_session_path %>
    <input type="hidden" value="00" />
  <% end %>
        </div>

    </div> <!-- #header -->

        <%= yield %>

    <div id="footer" class="clr1">
        <a href="/about">FORJ Forum</a> by <a href="mailto:forj@caerphoto.com">Andy Farrell</a>
    </div> <!-- #footer -->
    <div id="log"></div>

  <%=  javascript_include_tag "jquery-min.js", :cache => true %>
  <%=  javascript_include_tag "jquery-ui-all-min.js", :cache => true %>
  <%=  javascript_include_tag "showdown-underscore-min.js", :cache => true %>
    <script type="text/javascript">
        var se = document.createElement("script");
        se.src = "/javascripts/application.js";
        document.getElementsByTagName("head")[0].appendChild(se);
    </script>

</body>
</html>
