<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
  <%= stylesheet_link_tag "reset.css" %>
  <%= stylesheet_link_tag "jquery-ui.css" %>
  <!-- <%= stylesheet_link_tag "jquery-ui-selectmenu.css" %>-->
  <%= stylesheet_link_tag "base.css" %>
  <%= csrf_meta_tag %>
</head>
<body>
    <div id="header" class="ui-layout-north">
        <a class="logo" href="/">FORJ Forum /</a>

        <div id="sign">
  <% if user_signed_in? %>
      Signed in as <span class="current_user"><%= current_user.email %></span>
      (<%= current_user.name %>) |
      <%= link_to "Edit Details", edit_user_registration_path %> |
      <%= link_to "Sign out", destroy_user_session_path %>
      <% if current_user.admin? %>
          <% v = "A" + current_user.id.to_s %>
      <% else %>
          <% v = "N" + current_user.id.to_s %>
      <% end %>
      <input type="hidden" value="<%= v %>" />
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> |
    <%= link_to "Sign in", new_user_session_path %>
    <input type="hidden" value="U0" />
  <% end %>
        </div>

    </div> <!-- #header -->

        <%= yield %>

    <div id="footer" class="ui-layout-south">
        <a href="/about">Forj Forum</a> by <a href="mailto:forj@caerphoto.com">Andy Farrell</a>
    </div> <!-- #footer -->
    <div id="log"></div>
  <%= javascript_include_tag "application.js" %>

</body>
</html>
