<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
  <%= stylesheet_link_tag "reset.css" %>
  <%= stylesheet_link_tag "jquery-ui.css" %>
  <%= stylesheet_link_tag "jquery-ui-selectmenu.css" %>
  <%= stylesheet_link_tag "layout.css" %>
  <%= stylesheet_link_tag "colours.css" %>
  <%= stylesheet_link_tag "emotes.css" %>
  <%= csrf_meta_tag %>
  <style>
      .unfouc {
          /* Prevent elements from being visible before JavaScript loads */
          margin-left: -10000px;
          visibility: hidden;
      }
  </style>
</head>
<body class="clr0">
    <div id="header" class="clr1">
        <a id="logo" class="clr3 bb" href="/">FORJ Forum /</a>

        <div id="sign" class="clr3 bb">
  <% if user_signed_in? %>
      Signed in as <span class="current_user"><%= current_user.email %></span>
      (<%= current_user.name %>) |
      <%= link_to "Edit Details", edit_user_registration_path %> |
      <%= link_to "Sign out", destroy_user_session_path %>
      <input type="hidden" value="<%= current_user.rank.to_s + current_user.id.to_s %>" />
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> |
    <%= link_to "Sign in", new_user_session_path %>
    <input type="hidden" value="00" />
  <% end %>
        </div>

    </div> <!-- #header -->

        <%= yield %>

    <div id="footer" class="clr1">
        <a href="/about">Forj Forum</a> by <a href="mailto:forj@caerphoto.com">Andy Farrell</a>
    </div> <!-- #footer -->
    <div id="log"></div>
  <%= javascript_include_tag "jquery-min.js" %>
  <%= javascript_include_tag "scrollto-min.js" %>
  <%= javascript_include_tag "jquery-ui-min.js" %>
  <%= javascript_include_tag "jquery-ui-selectmenu.js" %>
  <%= javascript_include_tag "underscore-min.js" %>
  <%= javascript_include_tag "showdown-min.js" %>
  <%= javascript_include_tag "application.js" %>

</body>
</html>
