<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
  <%= stylesheet_link_tag "reset.css" %>
  <%= stylesheet_link_tag "jquery-ui.css" %>
  <%= stylesheet_link_tag "jquery-ui-selectmenu.css" %>
  <%= stylesheet_link_tag "base.css" %>
  <%= csrf_meta_tag %>
</head>
<body>
    <div id="header">
        <h1><%= title %></h1>
        <div id="sign">
            <%= link_to "Log In", "#" %> |
            <%= link_to "Sign Up", signup_path %>
        </div>

    </div> <!-- #header -->
    <div id="forj_main">

        <%= yield %>

    </div>
    <div id="footer">
        <a href="/">Forj Forum</a> by <a href="mailto:forj@caerphoto.com">Andy Farrell</a>
    </div> <!-- #footer -->
    <div id="log"></div>


  <%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "scrollto-min.js" %>
  <%= javascript_include_tag "jquery-ui-min.js" %>
  <%= javascript_include_tag "jquery-ui-selectmenu.js" %>
  <%= javascript_include_tag "underscore-min.js" %>
  <%= javascript_include_tag "application.js" %>
</body>
</html>
